// http://flatuicolors.com/
$color-palette-turquoise: #1abc9c;
$color-palette-emerald: #2ecc71;
$color-palette-peter-river: #3498db;
$color-palette-amethyst: #9b59b6;
$color-palette-wet-asphalt: #34495e;
$color-palette-green-sea: #16a085;
$color-palette-nephritis: #27ae60;
$color-palette-belize-hole: #2980b9;
$color-palette-wisteria: #8e44ad;
$color-palette-midnight-blue: #2c3e50;
$color-palette-sun-flower: #f1c40f;
$color-palette-carrot: #e67e22;
$color-palette-alizarin: #e74c3c;
$color-palette-clouds: #ecf0f1;
$color-palette-concrete: #95a5a6;
$color-palette-orange: #f39c12;
$color-palette-pumpkin: #d35400;
$color-palette-pomegranate: #c0392b;
$color-palette-silver: #bdc3c7;
$color-palette-asbestos: #7f8c8d;
